<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">About Me</h2>
                <hr class="dark">
                <p class="text-muted">
                    I am currently a Data Science student at Lambda School, an accelerated full-time program, preparing for work
                    in a Data Scientist or Data Engineering position. I have a background in Neuroscience as well as several years
                    in customer facing roles. My analytical background and my team setting background build upon my Data Science skills
                    to prepare me for working with a multi-faceted team or clients in a Data Science position.
                </p>
                <a href="#services" class="btn btn-primary btn-xl page-scroll">Skills/Projects!</a>
            </div>
        </div>
    </div>
</section>
