<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">About Me</h2>
                <hr class="dark">
                <p class="text-muted">
                    I am currently a Data Science student at Lambda School, an accelerated full-time program, preparing for work
                    in a Data Scientist or Data Engineering position. My different background of Biology focus on Neuroscience and years
                    of customer service have helped me prepare for the analytical challenges I am looking forward to, and the fullfillment of
                    working in a team setting or being able to present to others.                    
                </p>
                <a href="#services" class="btn btn-primary btn-xl page-scroll">Skills/Projects!</a>
            </div>
        </div>
    </div>
</section>
